<div class="footer">
    <div class="footer-media">
        <a href="https://www.instagram.com/maru.bolatti/">.Ig</a>
        <a href="#">.In</a>
    </div>
    <a class="footer-dev" href="https://www.juancruzbolatti.com">JC_</a>
</div>