<footer class="footer container">
    <div class="footer-content">
        <a class="display-responsive" href="/">Maru Bolatti</a>
        <a href="#"><i class="display-responsive-reverse fa-brands fa-linkedin"></i></a>
        <img class="footer-line" src="/img/Line.png">
        <img class="footer-logo" src="/img/Items-logo-mini.png" alt="Logo Maru Bolatti">
        <img class="footer-line" src="/img/Line.png">
<<<<<<< HEAD
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="display-responsive fa-brands fa-linkedin"></i></a>
=======
        <i class="fa-brands fa-instagram"></i>
        <i class="display-responsive fa-brands fa-linkedin"></i>
        <i class="display-responsive fa-brands fa-facebook"></i>
>>>>>>> 38b84e985adab25aa996b3504b4ccf1e75457c1c
    </div>
</footer>