<footer class="footer container">
    <div class="footer-content">
        <a class="display-responsive" href="/">Maru Bolatti</a>
        <i class="display-responsive-reverse fa-brands fa-linkedin"></i>
        <img class="footer-line" src="/img/Line.png">
        <img class="footer-logo" src="/img/Items-logo-mini.png" alt="Logo Maru Bolatti">
        <img class="footer-line" src="/img/Line.png">
        <i class="fa-brands fa-instagram"></i>
        <i class="display-responsive fa-brands fa-linkedin"></i>
    </div>
</footer>