<div class="footer">
    <div class="footer-media">
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
    </div>
    <div class="footer-bar">--------------------------</div>
    <a class="footer-dev" href="https://www.juancruzbolatti.com"><i>JC_</i></a>
</div>