<header class="site-head">
    <a href="/" class="site-logo"><img src="/img/logo.png" alt="Logo de Maru Bolatti"></a>
    <!-- Navbar -->
    <nav class="nav-main">
        <div class="nav-toggle">
            <div class="button-container" onclick="opener()">
                <div class="bars open">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
                <div class="bars close">
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
            </div>
        </div>
        <div style="display: none;" class="nav-container">
            <div>
                <div class="nav-content">
                    <div class="nav-animation display-responsive"><img src="/img/example.png" alt=""></div>
                    <div class="nav-info">
                        <ul>         
                            <li><a href="/conoceme" data-text="Conoceme">Conoceme</a></li>    
                            <li><a href="/produccion" data-text="Producci贸n">Producci贸n</a></li>         
                            <li><a href="/direccion" data-text="Direcci贸n">Direcci贸n</a></li>     
                            <li><a href="/contacto" data-text="Contacto">Contacto</a></li>   
                        </ul>
                    </div>
                    <div class="nav-animation display-responsive"><img src="/img/example.png" alt=""></div>
                </div>
        
                <div class="nav-media">
                    <div class="footer-media">
                        <a href="https://www.instagram.com/maru.bolatti/">.Ig</a>
                        <a href="#">.In</a>
                    </div>
                    <a class="footer-dev" href="https://www.juancruzbolatti.com">JC_</a>
                </div>
            </div>
        </div>
    </nav>

</header>
