<header class="site-head">
    <a href="/" class="site-logo"><img src="/img/logo.png" alt="Logo de Maru Bolatti"></a>
    <!-- Navbar -->
    <nav class="nav-main">
        <div class="nav-toggle">
            <div class="button-container" onclick="opener()">
                <div class="bars open">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
                <div class="bars close">
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
            </div>
        </div>
        <div class="nav-container fullscreen">
            <div class="nav-content">
                <div class="nav-info">
                    <a href="/conoceme">Conoceme</a>
                    <img src="#" alt="Puntos suspensivos maru bolatti"> <!-- Poner la imagen de los puntos -->
                </div>
                <div class="nav-info">
                    <a href="/produccion">Producción</a>
                    <a href="/direccion">Dirección</a>
                </div>
                <div class="nav-info">
                    <a href="/contacto">Contacto</a>
                </div>
                <div style="display: none;" class="nav-media">
                    <div>
                        <a href="https://www.instagram.com/maru.bolatti/"><i class="fa-brands fa-instagram"></i></a>
                        <a href="/"><i class="fa-brands fa-linkedin"></i></a> <!-- Agregar link a linkedin -->
                    </div>
                    <div><a href="https://www.juancruzbolatti.com">_JC</a></div> 
                </div>
            </div>
            <div class="illustration"></div>
            <div class="background" style=""></div>
        </div>
    </nav>

</header>

{{! 
    <!-- Sidebar -->
    <navbar class="sidebar" style="display: none;" id="sidebar">
        
        <div class="sidebar-anchors">

            <a href="/produccion" class="sidebar-anchors-titles anchors-prod">Producción</a>
            <div class="sidebar-anchors-options anchors-prod">
                <a href="#">Opcion P.1 <span>-</span></a> <!-- le falta los iconos -->
                <a href="#">Opcion P.2 <span>-</span></a>
                <a href="#">Opcion P.3 <span>-</span></a>
            </div>

            <a href="/direccion" class="sidebar-anchors-titles anchors-direc">Dirección Nacional</a>
            <div class="sidebar-anchors-options anchors-direc">
                <a href="#">Opcion D.1 <span>-</span></a> 
                <a href="#">Opcion D.2 <span>-</span></a>
                <a href="#">Opcion D.3 <span>-</span></a>
            </div>

            <a href="/contacto" class="navbar-contact">Contacto</a>
            
        </div>
            
    </navbar>

    <!-- Navbar -->
    <div class="navbar">
        <a href="/" class="logo"> <img src="/img/items-logo-mini.png" alt="Logo de Maru Bolatti"> </a>

        <div class="navbar-content">
            <div class="navbar-anchors display-none"> 
                <a href="/produccion">Producción</a>
                <a href="/direccion">Dirección</a>
            </div>

            <a class="button-bars" id="bars" onclick="side_open()">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </a>
        </div>

    </div>
}}