<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <meta name="description" content="{{descrip}}">
    <meta name="keywords" content=""> <!-- Agregar Keywords -->
    <meta name="robots" content="{{robots}}">

    <!-- Google Fonts (Fonts) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> <!-- The link of de fonts -->
    <!-- AOS (Animate On Scroll by michalsnik) -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <!-- Normalize -->
    <link rel="stylesheet" href="../../public/style/normalize.css">
    <!-- Main Style -->
    <link rel="stylesheet" href="../../public/style/style.scss">
</head>
<body>
    
    {{> navbar }}
    
    {{{body}}}

    {{> footer }}

    {{! SCRIPTS }}
    <!-- AOS script -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script src="../../public/app/app-extra.js"></script>
</body>
</html>