:root {
    --color-main-blue: #0073c0;
    --color-main-pink: #ff6364;
    --color-gray: #dfdfdf;
    --color-white: #fafafa;
}
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
    margin: 0;
    padding: 0;
}
*, *:before, *:after {
    box-sizing: inherit;
}
@font-face {
    font-family: bahnschrift;
    src:url("/fonts/bahnschrift.ttf");
}
body {
    font-family: bahnschrift, helvetica;
    font-size: 1.6rem;
    line-height: 1.6;
}

/** GLOBAL **/
a {
    text-decoration: none;
    color: #000;
}
img {
    max-width: 100%;
}

/** UTILITIES **/
/* Usuals */
.container {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}
.display-none {
    display: none;
}
.display-flex {
    display: flex;
}
/* Displays */
.display-responsive {
    display: none!important;
}
@media (min-width: 768px) {
    .display-responsive {
        display: inline-flex!important;
    }
}
.display-responsive-reverse {
    display: block;
}
@media (min-width: 768px) {
    .display-responsive-reverse {
        display: none;
    }
}

/** NAVBAR **/
/* Header */
.header {
    /*Header Fixed*/
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    transition: 0.2s ease-in-out;
    z-index: 3;
}
@media (min-width: 768px) {
    .header {
        padding-top: 2rem;
    }
}
/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-content {
    display: flex;
    justify-content: right;
    align-items: baseline;
}
.navbar-anchors {
    justify-content: baseline;
}
.navbar-anchors a {
    margin-right: .8rem;
}
.nav-active { /* Efectos que se activa cuando se baja la barra pero solo a la barra */ 
    background-color: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.63);
    padding: 0;
}
@media (min-width: 768px) {
}
/* Logo */
.logo {
    display: flex;
    align-items: center;
    width: 4.5rem;
    margin: 1rem 1rem;
    transition: .3s ease;
}
.logo-active {
    width: 3.8rem;
}
@media (min-width: 768px) {
    .logo {
        margin: 1rem 2rem;
    }
    .logo-active {
        margin: 1.8rem 1.8rem;
    }
}
/* Bars */
.button-bars {
    position: absolute;
    top: calc(50% - 1.8rem);
    right: 1rem;
    height: 4rem;
    width: 4rem;
    transition: .3s ease;
}
.button-bars-active {
    height: 3.5rem;
    width: 3.5rem;
}
@media (min-width: 768px) {
    .button-bars::before {
        content: "----------------------";
        color: #000;
    }
}
.button-bars span {
    position: absolute;
    right: 0;
    height: .4rem;
    background-color: var(--color-main-pink);
}
.button-bars span:nth-child(1) {
    top: 0;
    width: 20%;
}
.button-bars span:nth-child(2) {
    top: 25%;
    width: 60%;
}
.button-bars span:nth-child(3) {
    top: 50%;
    width: 100%;
}
.button-bars span:nth-child(4) {
    top: 75%;
    width: 60%;
}
.button-bars span:nth-child(5) {
    top: 100%;
    width: 20%;
}
.bars-animation span:nth-child(1) {
    animation-name: bars1;
    animation-duration: 1s;
    animation-delay: 1s;
}
.bars-animation span:nth-child(2) {
    animation-name: bars2;
    animation-duration: 1s;
}
.bars-animation span:nth-child(3) {
    animation-name: bars3;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}
.bars-animation span:nth-child(4) {
    animation-name: bars4;
    animation-duration: 1s;
}
.bars-animation span:nth-child(5) {
    animation-name: bars5;
    animation-duration: 1s;
}
@keyframes bars1 {
    50% {width: 100%;}
    100% {width: 20%;}
}
/* @keyframes bars2 {
    50% {width: 100%;}
    100% {width: 20%;}
} */
@keyframes bars3 {
    30% {width: 20%;}
    70% {width: 70%;}
    100% {width: 60%;}
    
}
/* @keyframes bars4 {
    50% {width: 100%;}
    100% {width: 20%;}
}
@keyframes bars5 {
    50% {width: 100%;}
    100% {width: 20%;}
} */


/* SideBar */
.sidebar {
    margin-top: 10rem;
    height: 80vh;
    width: 25rem;
    background-color: red; /* Va transparente */
    position: fixed!important;
    right: 0;
    z-index: 1;
    overflow: auto;
}
.sidebar-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 4rem;
    text-indent: 2rem;
}
.sidebar-info p {
    margin: .5rem 0 0;
}
.sidebar-anchors {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}
.sidebar-anchors a {
    width: 100%;
    padding: 1rem 0rem;
    color: var(--color-text);
    border-bottom: solid 1px var(--color-light-gray);
}
.navbar-anchors-active {
    display: none;
}

/* mc */
.McButton {
    position: absolute;
    top: 25%;
    right: 1.5rem; /*1.5*/
    width: 4.4rem;
    height: 3rem;
    cursor: pointer;
}
.McButton b {
    position: absolute;
    right: 0;
    height: 3.3px;
    background-color: var(--color-main-pink);
}
.McBar1 {
    top: 0;
    width: .7rem;
    transition: 1s ease;
}
.McBar2 {
    top: 25%;
    width: 1.8rem;
    transition: 1s ease;
}
.McBar3 {
    top: 50%;
    width: 2.8rem;
    transition: 1s ease;
}   
.McBar4 {
    top: 75%;
    width: 1.8rem;
    transition: 1s ease;
}
.McBar5 {
    top: 100%;
    width: .7rem;
    transition: 1s ease;
}

/** FOOTER **/
.footer a {
    font-weight: 700;
}
.footer-content {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 3rem;
}
.footer-logo {
    width: 10%;
}
.footer-line {
    width: 25%;
}
@media (min-width: 768px) {
    .footer {
        width: 90%;
    }
    .footer-content {
        justify-content: space-between;
        font-size: 2.6rem;
    }
    .footer-logo {
        width: 5%;
    }
    .footer-line {
        width: 25%;
    }
}