:root {
    --color-main-blue: #0073c0;
    --color-main-pink: #ff6364;
    --color-gray: #dfdfdf;
    --color-white: #fafafa;
}
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
    margin: 0;
    padding: 0;
}
*, *:before, *:after {
    box-sizing: inherit;
}
@font-face {
    font-family: bahnschrift;
    src:url("/fonts/bahnschrift.ttf");
}
body {
    font-family: bahnschrift, helvetica;
    font-size: 1.6rem;
    line-height: 1.6;
}

/** GLOBAL **/
a {
    text-decoration: none;
    color: #000;
}
img {
    max-width: 100%;
}

/** UTILITIES **/
/* Usuals */
.container {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}
.display-none {
    display: none;
}
.display-flex {
    display: flex;
}
/* Displays */
.display-responsive {
    display: none!important;
}
@media (min-width: 768px) {
    .display-responsive {
        display: inline-flex!important;
    }
}
.display-responsive-reverse {
    display: block;
}
@media (min-width: 768px) {
    .display-responsive-reverse {
        display: none;
    }
}

/** NAVBAR **/
/* Header */
.header {
    /*Header Fixed*/
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    transition: 0.2s ease-in-out;
    z-index: 3;
}
@media (min-width: 768px) {
    .header {
        padding-top: 2rem;
    }
}
/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-content {
    display: flex;
    justify-content: right;
    align-items: baseline;
}
.navbar-anchors {
    justify-content: baseline;
}
.navbar-anchors a {
    margin-right: .8rem;
}
.nav-active { /* Efectos que se activa cuando se baja la barra pero solo a la barra */ 
    background-color: #fff;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.63);
    padding: 0;
}
@media (min-width: 768px) {
}
/* Logo */
.logo {
    display: flex;
    align-items: center;
}
.logo-one {
    width: 10rem;
    margin: 1.2rem .8rem;
}
.logo-two {
    width: 3.3rem;
    margin: 1rem 1rem;
}
@media (min-width: 768px) {
    .logo-one {
        width: 12rem;
        margin: 1.5rem 1rem;
    }
    .logo-two {
        width: 3.5rem;
        margin: 1.2rem 2rem;
    } 
}
/* SideBar */
.sidebar {
    margin-top: 5rem;
    height: 80vh;
    width: 25rem;
    background-color: red; /* Va transparente */
    position: fixed!important;
    right: 0;
    z-index: 1;
    overflow: auto;
}
.sidebar-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 4rem;
    text-indent: 2rem;
}
.sidebar-info p {
    margin: .5rem 0 0;
}
.sidebar-anchors {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}
.sidebar-anchors a {
    width: 100%;
    padding: 1rem 0rem;
    color: var(--color-text);
    border-bottom: solid 1px var(--color-light-gray);
}
.button-bars {
    background-color: white;
    border: none;
    margin: .3rem 1rem 0 0;
    transition: .5s;
}
.button-bars img {
    width: 2.8rem;
}
.button-bars i {
    font-size: 4rem;
    color: var(--color-main-blue);
}
.button-active i {
    font-size: 3.5rem;
    color: var(--color-main-pink);
}
.navbar-anchors-active {
    display: none;
}

.McButton {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -22px;
    margin-top: -22px;
    width: 44px;
    height: 33px;
    cursor: pointer;
}
.McButton b {
    position: absolute;
    left: 0;
    width: 44px;
    height: 3px;
    background-color: black;
}
.McBar1 {
    top: 0;
    transition: 1s ease;
}
.McBar2 {
    top: 50%;
    transition: 1s ease;
}
.McBar3 {
    top: 100%;
    transition: 1s ease;
}   

/** FOOTER **/
.footer a {
    font-weight: 700;
}
.footer-content {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 3rem;
}
.footer-logo {
    width: 10%;
}
.footer-line {
    width: 25%;
}
@media (min-width: 768px) {
    .footer {
        width: 90%;
    }
    .footer-content {
        justify-content: space-between;
        font-size: 2.6rem;
    }
    .footer-logo {
        width: 5%;
    }
    .footer-line {
        width: 25%;
    }
}