<section class="about-first">
    <div class="about-image"></div>
    <div class="about-content">
        <h3 class="about-title">Maru</h3>
        <p class="about-info">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque expedita deserunt quidem in qui doloribus aliquam excepturi repudiandae debitis nam non molestias, error est. Odit nobis asperiores exercitationem blanditiis excepturi!</p>
    </div>
    <div class="about-image"></div>
</section>

<div class="about-phrase">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod iste iure quaerat dolorum dolores rerum quasi, ea aliquam.</p>
</div>

<section class="about-second">
    <div class="about-image"></div>
    <div class="about-content">
        <h3 class="about-title">Estudios</h3>
        <div class="about-timeline">
            <h4 class="timeline-title">Secundario</h4>
            <h4 class="timeline-title">Terciario</h4>
            <h4 class="timeline-title">Produccion</h4>
            <a href="/produccion">ver mas</a>
            <h4 class="timeline-title">Direccion</h4>
            <a href="/direccion">ver mas</a>
        </div>
    </div>
</section>



{{> footer }}
