<section class="about container">
    <div class="about-first">

        <div class="about-image">
            <div class="image-container">
                <img src="img/profile-background-05.jpg" alt="" class="image-circle"> {{! Mostrar las 6 opciones }}
                <img src="img/profile.png" alt="" class="profile">
            </div>
        </div>

        <div class="about-content" data-aos="fade-right" data-aos-duration="900">
            <h3 class="title">Maru</h3>
            <p>Habiendo sido Productora y Directora Nacional, me gusta combinar lo mejor de los dos mundos para
                desarrollar proyectos culturales únicos. La cultura siempre me llamo la atención, y por eso empecé mi
                carrera con diversas producciones audiovisuales para después desembocarme directamente en la cultura
                nacional Argentina, donde desempeñe un papel de administración sin precedentes.</p>
        </div>
    </div>

    <div id="animAbout01" style="margin: 0 auto; width: auto; height: 30rem;"></div>

    <div class="about-phrase" data-aos="fade-down" data-aos-duration="1300">
        <p>"La Cultura es la firma de un pueblo, es su pasado, su presente, y lo que queremos en el futuro"</p>
    </div>

    <div id="animAbout02" style="margin: 0 auto; width: auto; height: 30rem;"></div>

    <div class="about-timeline">

        <div class="about-study">
            <h4 class="title" data-aos="fade-down" data-aos-duration="700">Trayectoria</h4>
            <div class="container">
                <div class="timeline">
                    <div class="timeline-container">
                        <div class="timeline-icon">
                            <i class="fa-solid fa-graduation-cap"></i>
                        </div>
                        <div class="timeline-body">
                            <a href="/" class="timeline-title"><span class="badge">1998 - Terciario</span></a>
                            <p> Egresada del Instituto Abate José Rey, estudie la carrera como Titular de Cátedra de
                                Informática Nivel Terciario en el Instituto Superior de Formación Docente Sagrado
                                Corazón. </p>
                            <a href="/" class="timeline-subtitle">Ver Más</a>
                        </div>
                    </div>

                    <div class="timeline-container">
                        <div class="timeline-icon">
                            <i class="fa-solid fa-graduation-cap"></i>
                        </div>
                        <div class="timeline-body">
                            <a href="/" class="timeline-title"><span class="badge">1999 - Periodismo</span></a>
                            <p> Entre el 1997 y el 1999 estudié Periodista y Locutor Periodístico y Profesorado de
                                Periodismo en la Asociación de Comunicadores Sociales (ADECOS).</p>
                            <a href="/" class="timeline-subtitle">Ver Más</a>
                        </div>
                    </div>

                    <div class="timeline-container tl-pink">
                        <div class="timeline-icon">
                            <i class="fa-solid fa-video"></i>
                        </div>
                        <div class="timeline-body">
                            <a href="/" class="timeline-title"><span class="badge">2000 - CNN</span></a>
                            <p>Me traslade a Nueva York con el fin de realizar el Curso en Relaciones Institucionales de
                                CNN, para la cual realice producciones de contenidos televisivos en espacios culturales
                                latinos. En ese mismo año me encargué de la Coordinación del Departamento de Tecnología
                                Educativa en Blanco High School.</p>
                            <a href="/" class="timeline-subtitle">Ver Más</a>
                        </div>
                    </div>

                    <div class="timeline-container tl-pink">
                        <div class="timeline-icon">
                            <i class="fa-solid fa-clapperboard"></i>
                        </div>
                        <div class="timeline-body">
                            <a href="/" class="timeline-title"><span class="badge">2001 - PRODUCCIÓN DE IDEAS</span></a>
                            <p>Fundé la empresa PRODUCCIÓN DE IDEAS destinada a la realización de contenidos mediáticos,
                                destacándose por su originalidad a la hora de presentar proyectos y realización de
                                objetivos concretos.</p>
                            <a href="/" class="timeline-subtitle">Ver Más</a>
                        </div>
                    </div>

                    <div class="timeline-container">
                        <div class="timeline-icon">
                            <i class="fa-solid fa-chalkboard-user"></i>
                        </div>
                        <div class="timeline-body">
                            <a href="/" class="timeline-title"><span class="badge">2002 / 2003 - Docente
                                    Titular</span></a>
                            <p>Estuve trabajando como Docente Titular en (EGB) Instituto Cardoso.</p>
                            <a href="/" class="timeline-subtitle">Ver Más</a>
                        </div>
                    </div>

                    <div class="timeline-container">
                        <div class="timeline-icon">
                            <i class="fa-solid fa-book"></i>
                        </div>
                        <div class="timeline-body">
                            <a href="/" class="timeline-title"><span class="badge">2005 - Periodismo Digital</span></a>
                            <p>Realice un Curso de Periodismo Digital que me posibilitaría el acceso como Editora de las
                                noticias de <span>Nombre<span>. </p>
                            <a href="/" class="timeline-subtitle">Ver Más</a>
                        </div>
                    </div>

                    <div class="timeline-container tl-pink">
                        <div class="timeline-icon">
                            <i class="fa-solid fa-film"></i>
                        </div>
                        <div class="timeline-body">
                            <a href="/" class="timeline-title"><span class="badge">2005 - Cablevisión</span></a>
                            <p>Empecé a trabajar como Productora ejecutiva de Cablevisión y realice Programas culturales
                                y de turismo, desde la concepción de la Idea, su producción y su postproducción.</p>
                            <a href="/" class="timeline-subtitle">Ver Más</a>
                        </div>
                    </div>

                    <div class="timeline-container tl-pink">
                        <div class="timeline-icon">
                            <i class="fa-solid fa-photo-film"></i>
                        </div>
                        <div class="timeline-body">
                            <a href="/" class="timeline-title"><span class="badge">2006 - Zona Comunicación</span></a>
                            <p> Empecé a trabajar en Zona Comunicación en Producción de televisión, Producción
                                comercial, post-producción y edición, participando en programas emitidos por canal 7
                                cómo “Km a Km”, “Mp3, música para el tercer milenio” y el programa emitido por Cultura
                                Activa “Plan A”. Me mantuve en esta productora hasta 2010 habiendo realizado un curso de
                                dos años de duración de Edición de Video.</p>
                            <a href="/" class="timeline-subtitle">Ver Más</a>
                        </div>
                    </div>

                    <div class="timeline-container tl-blue">
                        <div class="timeline-icon">
                            <i class="fa-solid fa-briefcase"></i>
                        </div>
                        <div class="timeline-body">
                            <a href="/" class="timeline-title"><span class="badge">2011 - Relaciones
                                    Institucionales</span></a>
                            <p>Ingresé a cargo de las Relaciones Institucionales a la Orquesta Nacional de Música
                                Argentina “Juan de Dios Filiberto”, en ese entonces, Secretaría de Cultura de la Nación.
                                Al poco tiempo, me encargué de la comunicación y las relaciones institucionales de la
                                Dirección Nacional de las Artes, donde estuve a cargo de diversas tareas. </p>
                            <a href="/" class="timeline-subtitle">Ver Más</a>
                        </div>
                    </div>

                    <div class="timeline-container tl-blue">
                        <div class="timeline-icon">
                            <i class="fa-solid fa-building-columns"></i>
                        </div>
                        <div class="timeline-body">
                            <a href="/" class="timeline-title"><span class="badge">2013 - Capacitación de Relaciones
                                    Institucionales</span></a>
                            <p>Realicé un Curso de Capacitación de Relaciones Institucionales gubernamentales y
                                culturales a cargo de la Secretaría de Cultura de la Nación y empecé a trabajar como
                                Profesora de Medios Masivos de Comunicación y Gestión de la Comunicación, además de
                                Profesora de gestión cultural UCA SALTA en el Instituto Divino Corazón.</p>
                            <a href="/" class="timeline-subtitle">Ver Más</a>
                        </div>
                    </div>

                    <div class="timeline-container tl-blue">
                        <div class="timeline-icon">
                            <i class="fa-solid fa-file-export"></i>
                        </div>
                        <div class="timeline-body">
                            <a href="/" class="timeline-title"><span class="badge">2014 - Asesora</span></a>
                            <p>Fuí asesora de la Dirección de Música y Danza <span>algo más<span></p>
                            <a href="/" class="timeline-subtitle">Ver Más</a>
                        </div>
                    </div>

                    <div class="timeline-container tl-blue">
                        <div class="timeline-icon">
                            <i class="fa-solid fa-sitemap"></i>
                        </div>
                        <div class="timeline-body">
                            <a href="/" class="timeline-title"><span class="badge">2015 - Coordinadora</span></a>
                            <p>Fuí coordinadora general de los Organismos Estables de la Secretaría de Gestión Cultural,
                                donde me encargaba de estimular, difundir y promocionar la música y la danza en todas
                                sus manifestaciones apoyando la actividad de los artistas argentinos, dentro y fuera del
                                país, y de fomentar la cooperación y el intercambio con organismos nacionales e
                                internacionales.</p>
                            <a href="/" class="timeline-subtitle">Ver Más</a>
                        </div>
                    </div>

                    <div class="timeline-container tl-blue">
                        <div class="timeline-icon">
                            <i class="fa-solid fa-music"></i>
                        </div>
                        <div class="timeline-body">
                            <a href="/" class="timeline-title"><span class="badge">2017 / Actualidad - Directora
                                    Nacional</span></a>
                            <p>El 11 de agosto de 2017, fuí promovida a Directora Nacional de los Organismos Estables,
                                de la dirección homónima, renovando mi cargo en diciembre del 2019. Me ocupo de la
                                promoción, administración y el desarrollo de los nueve elencos estables de música y
                                danza.</p>
                            <a href="/" class="timeline-subtitle">Ver Más</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="about-award" data-aos="fade-right" data-aos-duration="1300">
            <h4 class="title">Premios y Logros</h4>
            <div class="container">
                <div class="timeline">
                    <div class="timeline-container">
                        <div class="timeline-icon">
                            <i class="fa-solid fa-trophy"></i>
                        </div>
                        <div class="timeline-body">
                            <a href="/" class="timeline-title"><span class="badge">1994 - Arte y Creatividad</span></a>
                            <p> Premio del Decanato de la Provincia de Buenos Aires por Arte y Creatividad. </p>
                            <a href="/" class="timeline-subtitle">Ver Más</a>
                        </div>
                    </div>

                    <div class="timeline-container">
                        <div class="timeline-icon">
                            <i class="fa-solid fa-award"></i>
                        </div>
                        <div class="timeline-body">
                            <a href="/" class="timeline-title"><span class="badge">1999 - Poesía</span></a>
                            <p> Concurso Latinoamericano de Poesía y cuento Adecos recibiendo el Águila dorada como 1er premio. </p>
                            <a href="/" class="timeline-subtitle">Ver Más</a>
                        </div>
                    </div>

                    <div class="timeline-container tl-pink">
                        <div class="timeline-icon">
                            <i class="fa-solid fa-trophy"></i>
                        </div>
                        <div class="timeline-body">
                            <a href="/" class="timeline-title"><span class="badge">2005 - Negrito Manuel</span></a>
                            <p> Ganadora del premio “Negrito Manuel” como mejor productora del ciclo cultural y turístico. </p>
                            <a href="/" class="timeline-subtitle">Ver Más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about-footer" data-aos="fade-up" data-aos-duration="1300">
        <p>SEGUIR VIENDO:</p>
        <div class="about-menu">
            <a class="see-more" href="/produccion" data-aos="fade-right" data-aos-duration="1300"
                data-aos-delay="300">Producción</a>
            <a class="see-more" href="/direccion" data-aos="fade-right" data-aos-duration="1300"
                data-aos-delay="500">Dirección</a>
            <a class="see-more" href="/contacto" data-aos="fade-right" data-aos-duration="1300"
                data-aos-delay="700">Contacto</a>
        </div>
    </div>

    <div id="animAbout04" style="margin: 0 auto; width: auto; height: 40rem;"></div>
</section>

{{> footer }}