<section class="container contact">
    <h3 class="title">Contacto</h3>

    <div class="contact-content">
        <div class="contact-media">
            <p>Redes</p>
            <a href="#" target="_blanck">.Ig</a>
            <a href="#" target="_blanck">.Ln</a>
            <a href="mailto:marubolatti@gmail.com">.Ma</a>
            <div class="media-subtitle display-responsive">
                <p class="yey">@Maru.Bolatti</p>
                <p>Maru Bolatti</p>
                <p>Marubolatti@gmail.com</p>
            </div>
        </div>
        <!-- action="https://formsubmit.co/juanchobc44@gmail.com" -->
        <div class="contact-form">
            <form class="form" action="https://formbold.com/s/3ZVy3" method="POST">
                <div class="input-container ic1">
                    <input id="firstname" class="input" type="text" placeholder=" " />
                    <div class="cut"></div>
                    <label for="firstname" class="placeholder">Nombre/s</label>
                </div>
                <div class="input-container ic2">
                    <input id="lastname" class="input" type="text" placeholder=" " required/>
                    <div class="cut"></div>
                    <label for="lastname" class="placeholder">Apellido/s</label>
                </div>
                <div class="input-container ic2">
                    <input id="cellphone" class="input" type="number" min="0" placeholder=" " />
                    <div class="cut cut-long"></div>
                    <label for="cellphone" class="placeholder">Numero de Teléfono</label>
                </div>
                <div class="input-container ic2">
                    <input id="email" class="input" type="text" placeholder=" " required/>
                    <div class="cut cut-long"></div>
                    <label for="email" class="placeholder">Correo Electrónico</label>
                </div>

                <div class="input-container ic2 ic3">
                    <textarea class="input" name="txtarea" id="txtarea" cols="30" rows="10" placeholder=" " required></textarea>
                    <div class="cut"></div>
                    <label for="txtarea" class="placeholder">Mensaje</label>
                </div>

                <button type="text" class="submit ic3">Enviar</button>
            </form>
        </div>
    </div>

    <div class="contact-footer">
        <a href="#">Desarrollador JC_</a>
    </div>
</section>