<section class="container contact">
    <h3 class="title">Contacto</h3>
    

    <div class="contact-border">
        <p class="contact-subtitle">¡Estemos en Contacto!</p>
        <div class="contact-underline"></div>
        <div class="contact-content">
            <div class="contact-media">
                <p>Redes</p>
                <a href="#">@maru.bolatti</a>
                <a href="#">Mariela Bolatti</a>
                <a href="#">Marulaloca@gmail.com</a>
            </div>

            <div class="contact-form">
                <form action="" method="POST">
                    <!-- action="https://formsubmit.co/juanchobc44@gmail.com" -->
                    <label for="fname">Nombre y Apellido</label>
                    <input type="text" id="fname" name="nombre" placeholder="Nombre">

                    <label for="company">Empresa</label>
                    <input type="text" id="company" name="empresa" placeholder="Empresa">

                    <label for="phone">Numero de teléfono</label>
                    <input type="number" id="phone" name="celular">

                    <label for="mail">Correo Electrónico</label>
                    <input type="email" id="mail" name="email">

                    <label for="txtarea">Mensaje</label>
                    <textarea name="txtarea" id="txtarea" cols="30" rows="10"></textarea>

                    <input type="submit" value="Enviar">
                </form>
            </div>
        </div>
    </div>


    <div class="contact-footer">
        <a href="#">Desarrollador JC_</a>
    </div>
</section>
