<section class="container contact">
    <h3 class="title">Contacto</h3>
    <p class="contact-subtitle">Una frase piola que fomente el contacto directo</p>

    <div class="contact-content">
        <div class="contact-media">
            <p>Escribime!</p>
            <a href="#"><i class="fa-brands fa-github"></i>@LaMaru</a>
            <a href="#"><i class="fa-brands fa-github"></i>Mariela Bolatti</a>
            <a href="#"><i class="fa-brands fa-github"></i>Marulaloca@gmail.com</a>
        </div>

        <div class="contact-form">
            <form action="" method="POST">
                <!-- action="https://formsubmit.co/juanchobc44@gmail.com" -->
                <label for="fname">Nombre y Apellido</label>
                <input type="text" id="fname" name="nombre" placeholder="Nombre">

                <label for="company">Empresa</label>
                <input type="text" id="company" name="empresa" placeholder="Empresa">

                <label for="phone">Numero de teléfono</label>
                <input type="number" id="phone" name="celular">

                <label for="mail">Correo Electrónico</label>
                <input type="email" id="mail" name="email">

                <label for="txtarea">Mensaje</label>
                <textarea name="txtarea" id="txtarea" cols="30" rows="10"></textarea>

                <input type="submit" value="Enviar">
            </form>
        </div>
    </div>

    <div class="contact-footer">
        <a href="#">Desarrollador JC_</a>
    </div>
</section>
