<section class="container contact">
    <h3 class="title">Contacto</h3>
    <p>Una frase piola que fomente el contacto directo</p>
    <div class="contact-media">
        <p>Escribime!</p>
        <a href="#">instagram</a>
        <a href="#">linkedin</a>
    </div>
    <div class="contact-form">
        <p>Aca va el form</p>
    </div>

    <div class="contact-footer">
        <a href="#">Diseñador JC_</a>
    </div>
    <div> {{! Borrar }}
        <a href="/produccion">Producción</a>
        <a href="/direccion">Dirección</a>
    </div>
</section>
