<div class="home container">
    <div class="home-image">
        <i class="fa-regular fa-map"></i>
    </div>
    <div class="home-content">
        <h1 class="home-title title">Maru Bolatti</h1>
        <h3 class="home-subtitle"><a href="/produccion" class="subtitle-prod">Producción</a> & <a href="/direccion" class="subtitle-direc">Dirección</a> Nacional</h3>
        <p class="home-info">El 70% de las personas son, sin dudas, y en base a estudios cientificos, la representacion del 70% de las personas. Y el 30% restante, son el 30% que no esta dentro del otro 70%</p>
        <a class="home-about see-more" href="/conoceme">Conoceme</a>
    </div>
</div>

{{> footer }}