<div class="home">
    <div class="home-image">
        <i class="fa-regular fa-map"></i>
    </div>
    <div class="home-content">
        <h1 class="home-title">Maru Bolatti</h1>
        <h3 class="home-subtitle"><span class="subtitle-prod">Producción</span> y <span class="subtitle-direc">Dirección</span> Nacional</h3>
        <p class="home-info">El 70% de las personas son, sin dudas, y en base a estudios cientificos, la representacion del 70% de las personas. Y el 30% restante, son el 30% que no esta dentro del otro 70%</p>
    </div>
</div>

{{> footer }}