<section class="producer container">
    <h3 class="title">Productora</h3>
    <div class="producer-presentation">
        <div class="">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci maiores aliquid ratione a suscipit tempore officia esse aut possimus at blanditiis et rem libero quae delectus nemo, ab dolorem eos?</p>
        </div>
        <div class="">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus, recusandae.</p>
            <a href="#">Contactosdfdvbg</a>
        </div>
    </div>

    <div> {{! Borrar }}
        <a href="/direccion">Dirección</a>
        <a href="/contacto">Contacto</a>
    </div>
</section>

{{> footer }}