<section class="work producer container">
    <h3 class="title" data-aos="fade-down" data-aos-duration="1300">Productora</h3>

    <div class="work-first" data-aos="fade-right" data-aos-duration="1300">
        <div id="animProd01" class="animation"></div>
        <div class="work-text">
            <p>Desarrollo proyectos creativos que exploran la identidad del individuo y como este se desenvuelve en la
                cultura que nos forma. Sin dudas colaboro en mi formacion cultural, y si soy sincera, ya no se que texto
                agregar para ocupar espacio, porque son las 3:46am y tengo sueño. Pero creo que aca deberia haber mas
                texto, uno simple que refleje los ideales y valores sobre el tema</p>
        </div>
    </div>

    <div id="animProd02" class="animation"></div>

    <div class="producer-content">

        <div class="card-l" data-aos="fade-right" data-aos-duration="1300">
            <a href="#"><img src="/img/ejemplo01.jpg" alt="Ejemplo"></a>
            <div>
                <h4>El perro de alas verdes</h4>
                <p>Es una obra unica que desarrolla el trasfondo <span>seudo-eliptico</span> de un can que tiene unas
                    protuberancias similares a alas, pero las cuales no cumplen la funcion de volar, <span class="display-responsive">sino mas bien, un
                    caracter ilustrativo. La obra da un giro sorpresivo en el momento en el que se desvela que dichas
                    alas, son en si mismas, de color verde.</span> </p>
                <a href="#">Ver Más</a>
            </div>
        </div>

        <div class="card-s" data-aos="fade-down" data-aos-duration="1300">
            <div class="card">
                <figure class="card-thumb">
                    <img src="/img/ejemplo02.jpg" alt="ejemplo"
                        class="card-image">
                    <figcaption class="card-caption">
                        <h2 class="card-title">Estudio en bromatologia</h2>
                        <p class="card-snippet">No se me ocurre texto para poner de ejemplo así que simplemente seguire escribiendo.</p>
                        <a href="" class="card-button">Ver Más</a>
                    </figcaption>
                </figure>
            </div>

            <div class="separator display-responsive">
                <img src="/img/logo.png" alt="">
            </div>

            <div class="card">
                <figure class="card-thumb">
                    <img src="/img/ejemplo03.jpg" alt="ejemplo"
                        class="card-image">
                    <figcaption class="card-caption">
                        <h2 class="card-title">CNN, NCIS, y la NASA</h2>
                        <p class="card-snippet">Son unas de las areas donde me desenvuelvo con la paciencia que me caracteriza.</p>
                        <a href="" class="card-button">Ver Más</a>
                    </figcaption>
                </figure>
            </div>
        </div>

        <div class="card-p" data-aos="fade-right" data-aos-duration="1300">
            <div>
                <img src="/img/ejemplo01.jpg" alt="ejemplo">
            </div>

            <div>
                <h4>Reconocimientos</h4>
                <p>He recibido una gran cantidad de premios, una cantidad incontable incluso, así que solo voy a nombrar unos pocos, como cuando gane miss colombia en 2006, o el oscar a la mejor actriz gracias a la pelicula "Un pato que huele a rosas", pelicula la cual gano el grammy, el Emmy, y el Emma. Estos premios sin dudas me los merecia ya que no hay nadie mas importante que yo, muchas gracias.</p>
                <a href="#">Ver Más</a>
            </div>
        </div>

        <div id="animProd03" class="animation"></div>

        <div class="card-l card-second">
            <a href="#"><img src="/img/ejemplo01.jpg" alt="Ejemplo"></a>
            <div>
                <h4>El perro de alas verdes</h4>
                <p>Es una obra unica que desarrolla el trasfondo de un can que tiene unas
                    protuberancias Lorem ipsum dolor sit, amet consectetur adipisicing elit. similares <span class="display-responsive">a alas, pero las cuales no cumplen la funcion de volar, sino mas bien, un
                    caracter ilustrativo. La obra da un giro sorpresivo en el momento en el que se desvela que dichas
                    alas, son en si mismas, de color verde.</span></p>
                <a href="#">Ver Más</a>
            </div>
        </div>

        <div class="card-l card-third">
            <a href="#"><img src="/img/ejemplo01.jpg" alt="Ejemplo"></a>
            <div>
                <h4>El perro de alas verdes</h4>
                <p>Es una obra unica que desarrolla el trasfondo de un can que tiene unas
                    protuberancias similares Lorem ipsum dolor sit amet, consectetur adipisicing elit. <span class="display-responsive">a alas, pero las cuales no cumplen la funcion de volar, sino mas bien, un
                    caracter ilustrativo. La obra da un giro sorpresivo en el momento en el que se desvela que dichas
                    alas, son en si mismas, de color verde.</span></p>
                <a href="#">Ver Más</a>
            </div>
        </div>

        <div id="animProd04" class="animation"></div>

        <div class="card-p">
            <div>
                <img src="/img/ejemplo01.jpg" alt="ejemplo">
            </div>

            <div>
                <h4>Reconocimientos</h4>
                <p>He recibido una gran cantidad de premios, una cantidad incontable incluso, así que solo voy a nombrar unos pocos, como cuando gane miss colombia en 2006, o el oscar a la mejor actriz gracias a la pelicula "Un pato que huele a rosas", pelicula la cual gano el grammy, el Emmy, y el Emma. Estos premios sin dudas me los merecia ya que no hay nadie mas importante que yo, muchas gracias.</p>
                <a href="#">Ver Más</a>
            </div>
        </div>

        <div class="about-footer producer-footer" style="margin-top: 8rem;" data-aos="fade-up" data-aos-duration="1300">
            <p>SEGUIR VIENDO:</p>
            <div class="about-menu">
                <a class="see-more" href="/direccion" data-aos="fade-right" data-aos-duration="1300"
                    data-aos-delay="500">Dirección</a>
                <a class="see-more" href="/conoceme" data-aos="fade-right" data-aos-duration="1300"
                    data-aos-delay="300">Contacto</a>
                <a class="see-more" href="/contacto" data-aos="fade-right" data-aos-duration="1300"
                    data-aos-delay="700">Conocemé</a>
            </div>
        </div>

        <div id="animProd05" class="animation"></div>

    </div>

</section>

{{> footer }}