<section class="producer container">
    <h3 class="title">Productora</h3>

    <div class="work-container" data-aos="fade-right" data-aos-duration="1200">
        <div class="work-image">
            <img src="img/example.png" alt="">
        </div>
        <div class="work-content">
            <div class="work-text">
                <h4><a href="/">El Perro Con Alas Verdes</a></h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing ectetur dolores optio perferendis quae soluta rerum dolor laudantium reprehenderit, enim incidunt veniam aspernatur sunt aliquam libero dignissimos eligendi? Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate excepturi similique exercitationem, quos in accusamus!</p>
            </div>
        </div>
    </div>

    <div class="work-container" data-aos="fade-right" data-aos-duration="1000">
        <div class="work-image">
            <img src="img/example.png" alt="">
        </div>
        <div class="work-content">
            <div class="work-text">
                <h4><a href="/">El Perro Con Alas Verdes</a></h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing ectetur dolores optio perferendis quae soluta rerum dolor laudantium reprehenderit, enim incidunt veniam aspernatur sunt aliquam libero dignissimos eligendi? Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate excepturi similique exercitationem, quos in accusamus!</p>
            </div>
        </div>
    </div>

    <div class="work-container" data-aos="fade-right" data-aos-duration="1000">
        <div class="work-image">
            <img src="img/example.png" alt="">
        </div>
        <div class="work-content">
            <div class="work-text">
                <h4><a href="/">El Perro Con Alas Verdes</a></h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing ectetur dolores optio perferendis quae soluta rerum dolor laudantium reprehenderit, enim incidunt veniam aspernatur sunt aliquam libero dignissimos eligendi? Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate excepturi similique exercitationem, quos in accusamus!</p>
            </div>
        </div>
    </div>

</section>

{{> footer }}