<section class="producer container">
    <div class="producer-first">
        <div class="producer-image">
            <i class="fa-solid fa-camera-retro"></i>
        </div>
        <div class="producer-text">
            <h3 class="producer-title title">Productora</h3>
            <p class="producer-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores tenetur animi quas.</p>
        </div>
    </div>

    <div id="animProd01" style="margin: 0 auto; width: auto; height: 30rem;"></div>

    <div class="producer-content">

        <div class="card">
            
        </div>

        <div class="mini-card">
            
        </div>

    </div>

</section>

{{> footer }}